<!DOCTYPE html>
<html>
    <head>
        <title>Projects</title>
        <!--bootstrap cdn refs-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!--css ref -->
        <link rel="stylesheet" href="../resources/css/style.css">
    
    </head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">My WEB SITE</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link" href="home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="hobbies.html">Hobbies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
            </ul>
              <a class="navbar-brand ms-auto" href="#">
                <img src="../resources/img/favicon.ico" alt="Logo" width="30" height="24" class="d-inline-block align-text-top align-right ">
              </a> 
          </div>
        </div>
      </nav>



      <!--resume-->
      <h1 class = 'hobbies-header'>Resume</h1>
      <div class="text-center">
      <a href="../resources/resume/Coleman-Caldwell-Resume.pdf" target="_blank" download="coleman-resume.pdf">
        <button type="button" class="btn btn-danger btn-center ">Download PDF</button>
      </a>
    </div>
      <div class ='resume-container'>
        <h1 class='resume-header'>Coleman Caldwell - Resume</h1>
        <div class = 'resume-body'>
            <ul>
                <li>Objectives</li>
                <ul>
                    <li>Seeking a degree (BA) in Computer Science with an AI Emphasis</li>
                </ul>
                <br>
                <li>Education</li>
                <ul>
                    <li>Rampart High School, Colorado Springs Colorado. 2017-2021</li>
                    <li>University of Colorado Boulder: 2021-present, Computer Science</li>
                    <li>Expected Graduation: 2025</li>
                </ul>
                <br>
                <li>Experience</li>
                <ul>
                    <li>Internships</li>
                    <ul>
                        <li>Hej, May 2022-Dec 2022. Worked with Version control, backend REST apis</li>
                        <li>Greenlists, June 2023-Aug 2024. Worked with Vue.js, Node.js, PostgreSQL, Generative AI, in a modern DevOps environment</li>
                        <li>Parsons Corporation, January 2025- present. Working in a Scaled AGILE scrum environment</li>
                    </ul>
                    <li>Projects</li>
                    <ul>
                        <li>Created a game to play with friends </li>
                        <li>Created a website for dad's personal website</li>
                </ul>
                <li>Skills</li>
                <ul>
                    <li>Good at coding</li>
                </ul>

            </ul>
        </div>

      </div>

  <!--footer-->
  <footer class="footer fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="https://github.com/ccald27">
                    <img src="../resources/img/github-icon.png" alt="GitHub Icon" width="30" height="30">
                </a>
            </div>
        </div>
    </div>
</footer>



</body>




</html>